@model IEnumerable<GiftsSystem.Web.ViewModels.Home.CategoryIndexView>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach(var category in Model)
    {
        <p>@category.Name</p>
    }
</div>