@model GiftsSystem.Web.ViewModels.ShoppingCart.ShoppingCartMainViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Shopping Cart</h2>
@{
    var products = Model.ShoppingCart.Products;
}
@if (products != null && products.Count != 0)
{
    foreach (var product in products)
    {
        <div class="form-group">
            @Html.Label(product.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @if (product.Image != null)
                {
                    <img src="@Url.Action("Image", "Product", new { id = product.ImageId.Value })" class="img-responsive" width="100" />
                }
                <a href="@Url.Action("RemoveProduct","ShoppingCart",new{id=product.ID})" class="btn btn-danger">Remove</a>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default">Cancel</button>
            <a href="@Url.Action("Proceed","ShoppingCart")" class="btn btn-primary">Proceed</a>
        </div>
    </div>
}
else
{
    <div>
        No products in shopping cart
    </div>
}